body{
    background-color: pink;
}
h1{
    font-family: 'Transpass', sans-serif;
    color: black;
}
h3{
    font-family: 'Audrey', sans-serif;
    color: black;
}
td{
    color: black;
}
